@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 w-full h-full bg-blue-700 font-lilita-one text-lg text-white text-shadow-outline text-balance;
  }

  @font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/LilitaOne/lilita-one-regular.ttf') format('truetype');
  }
}
